#chatsPageContainer {
    overflow-y: scroll;
    position: absolute;
    top: 13vh;
    left: 5vw;
    width: 90vw;
    max-width: 360px;
    height: calc(95vh - 10.5vh - 4vw );
    max-height: 660px;
}

#chatsContainer{
    margin-top: 10px;
}

.eventPreview{
    margin-top: 24px;
    height: fit-content;
    width:100%;
    margin-left: 5%;
    padding:5px;
    border: 1px solid var(--grey);
    border-radius: 10px;

    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "eventLinkIcon .";
}

.eventPreview>a, .eventPreview>a:active, .eventPreview>a:hover, .eventPreview>a:visited{
    color: black;
    align-items: center;
    width: 100%;
    text-decoration: none;
}

.eventPreview>a:first-of-type{
    grid-area: eventLinkIcon;
}

.eventPreview>a:nth-of-type(2){
    padding-top: 5px;
    margin-top: 5px;
}

.eventPreviewTime, .eventPreviewLastMessage{
    padding-top: 5px;
    width:max-content;
}

.eventPreview>a>svg{
    height: 64px;
    width: 64px;
}

#chatsPageContainer>button:first-of-type {
    position: absolute;
    bottom:25px;
    right: 25px;
}
#chatsPageContainer>button:nth-of-type(2) {
    position: absolute;
    bottom:25px;
    left: 25px;
}

h4{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#chatsPageContainer>p {
    margin-top: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

@media only screen and (min-width: 401px) {
    #chatsPageContainer {
      left:calc(50vw - 180px);
    }
  }

@media only screen and (min-height: 801px) {
    #chatsPageContainer {
        top: 90px;
    }
}
