.account-top {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
  align-items: center;
  border-bottom: 2px solid #bbb;
  height: 50px;
}

.account-container {
  width: 100%;
  margin-top: 10px;
}

.avatar {
  object-fit: contain;
}

.detail-box {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  border-radius: "5px";
  border-bottom: solid 1px rgb(239, 186, 239);
}

.detail-box:nth-child(1) {
  border-top: solid 1px rgb(239, 186, 239);
}

.account-details {
  margin-top: 25px;
}

.detail-box > svg {
  margin-right: 14px;
  width: 26px;
  height: 26px;
}

.heading4 {
  margin-bottom: 85px;
}

.scrollable-form {
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;

  text-align: center;
  padding: 20px;
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: rgb(202, 202, 202);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--buttonpurple);
  border-radius: 20px;
}
.edit-button-container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  margin: 20px 0 10px 0;
}

.detail-container {
  height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
}

.loading-account-container {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 80px;
  right: 50%;
  transform: translateX(50%);
  position: absolute;
  margin: auto;
  bottom: 20%;
  height: 800px;
  width: 400px;
}
