#app {
  max-width: 400px;
  max-height: 830px;
  height: 100vh;
  width: 100vw;
  border: 2px solid #000;
  background-color: #fffcf9;
  border-radius: 40px;
  display: grid;
  justify-content: center;
  justify-items: center;
  top: 50%;
  transform: translateY(-50%);
  /* margin-top: 130px; */
  position: relative;
}

.navBar {
  position: absolute;
  bottom: 0;
  max-width: 400px;
  width: 100vw;
  height: fit-content;
  text-align: center;
  padding-top: 6vh;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "accountNavLink searchNavLink eventsNavLink";

  font-family: Verdana;
  margin: 0 auto;
  padding: 0;
  overflow: auto;
}

.navBar > a:first-of-type {
  border-bottom-left-radius: 40px;
}

.navBar > a:last-of-type {
  border-bottom-right-radius: 40px;
}

.navBar > a {
  font-size: 4vw;
  text-decoration: none;
  display: block;
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
  padding-left: 5vw;
  padding-right: 5vw;
  background: var(--purple);
  color: #eee;
  float: left;
  text-align: center;
  border-top: 2px solid #8d76a0;
  border-right: 2px solid #7a3a69;
  border-bottom: 2px solid #7a3a69;
  border-left: 2px solid #8d76a0;
  transition: all 0.2s;
}

.navBar > a:hover {
  background: var(--buttonpurple);
  color: #eee;
  border-top: 2px solid #8d76a0;
  border-right: 2px solid #ada0b7;
  border-bottom: 2px solid #ada0b7;
  border-left: 2px solid #8d76a0;
}

/* 
@media only screen and (min-height: 801px) {
  .navBar {
    bottom: calc(100vh - 800px);
  }
  .navBar > a {
    padding-top: 8px;
    padding-bottom: 8px;
  }
} */

@media only screen and (min-width: 401px) {
  .navBar > a {
    font-size: 16px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
