:root {
  /* Placeholders to be updated */
  --main-background: #fffcf9;
  --main-primary: #26547c; 
  --main-text: #06d6a0;
  --main-yellow: #ffd166;
  --main-warning: #ef476f; 
  --heading-font: 'Fjalla One', sans-serif;
  --text-font: 'Yanone Kaffeesatz', sans-serif;
  --large-font: 30px;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}
