:root {
  /* Placeholders to be updated */
  --off-white: #fffcf9;
  --purple: #ab47bc;
  --grey: #a1a5a7;
  --turquoise: #4bc6b9;
  --blue-green: #73c1c6;
  --sky-blue: #96c3ce;
  --dull-pink: #a79ab2;
  --mauve: #b57ba6;
  --large-font: 30px;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

#root {
  background-color: var(--sky-blue);
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-content: center;
}
